$color_main_primary: #73c0cf;
$color_main_secondary: #7ac6d4;
$color_main_light: #82cbd9;
$color_main_dark: #192a2d;

$color_alternate_primary: #c37465;
$color_alternate_secondary: #c97a6c;

$color_background_gray: #eeeeee;
